<body>
    <div class="home-container">
     <div class="information-about-us"> </div>
     <div class="indra-bank-call"> 
            <div class="text-call">
              <span>Banco INDRA:</span><br> 
          <span>tecnologia,<br> 
            conforto,<br> 
            simplicidade & <br> praticidade.<br> 
          </span></div>
      </div>  
      <img class="welcome-background" [src]=backgroundfirst>
    </div>
     <div class="footer-index">
      <i class="fa fa-whatsapp"></i>
      <i class="fa fa-envelope"></i>
      <i class="fa fa-twitter"></i>
      <i class="fa fa-facebook"></i>
      <i class="fa fa-instagram"></i>
    </div>
  </body>
  <router-outlet></router-outlet>